<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gr.ictpro.jsalatas.screenoff">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".application.ScreenOffApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.ScreenOffActivity"
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".service.ScreenOffService"
                android:label="Screen Off Assistance Interaction Service"
                android:permission="android.permission.BIND_VOICE_INTERACTION"
                android:process=":interactor">
            <meta-data
                    android:name="android.voice_interaction"
                    android:resource="@xml/interaction_service"/>

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>
        <service
                android:name=".service.ScreenOffSessionService"
                android:permission="android.permission.BIND_VOICE_INTERACTION">
        </service>

        <activity android:name=".ui.VoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>

        </activity>
    </application>

</manifest>